<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><#if language =="cn">${exhibitionInfo.siteName}
<#elseif language=="en">Exhibitors Registration Management System of Heilongjiang Green Food Industry Expo
<#elseif language=="ru">Система регистрации ЭКСПО экологически чистых продуктов пров.Хэйлунцзян
<#elseif language=="jp">黒龍江緑色食品産業博覧会出展申込管理システム
<#elseif language=="kr">흑룡강녹색식품산업박람회 부스신청 관리 시스템
</#if></title>
<meta name="keywords" content="${exhibitionInfo.siteKeywords}">
<meta name="description" content="${exhibitionInfo.siteDescription}">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="/plugins/layui/css/layui.css"  media="all">
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/kr.css" rel="stylesheet" type="text/css" />
<link href="/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<script src="/plugins/layui/layui.all.js" charset="utf-8"></script> 
<script src="/script/jquery.min.js"></script>
</head>