    <div class="modal inmodal" id="edit-model" style="display:none">
		<div class="modal-content animated bounceInUp">
			<div class="ibox-content">
				<fieldset class="layui-elem-field layui-field-title" style="border-top:0px">
					<form class="layui-form layui-form-pane" action="" id="editform">
					    <input type="hidden" name="productId" value="0"  />
					    <input type="hidden" name="session" value="${exhibitionSessionId}"  />
					    <input type="hidden" name="productStatus" value="0"  />
						<table width="100%"  class="layui-table form-content">
							<tr class="papers-edit-bg"><td colspan="3" style="border-right: none;">제품정보 편집</td><td align="right"><a class="layui-icon layui-icon-close close"></a></td></tr>
							<tr>
								<td>*제품명칭</td>
								<td width="40%" colspan="3"><input class="layui-input" autocomplete="off" id="productName" name="productName" type="text"  lay-verify="required"></td>
								
							</tr>
							<tr>
								<td>*단위</td>
								<td width="40%">
								      <select name="productUnit" id="productUnit">
										   <#list productMenu1 as menu>
										  <option value="${menu.dicid}">${menu.dicCnName}</option>
										  </#list>
									  </select>   
								</td>
								<td>*소속 회사</td>
								<td>									
							      <select name="companyId" id="companyId" lay-filter="companyId" lay-search="">
							      <#if companys??>
							      <#list companys as company>
							        <option value="${company.id}">${company.chinesename}</option>
							      </#list>
							      </#if>
							      <#if company??>
							        <option value="${company.id}">${company.chinesename}</option></#if>
							      </select>
      							</td>
							</tr>
							<tr>
								<td>*가격</td>
								<td><input class="layui-input" autocomplete="off" id="productPrice" name="productPrice" type="text"  lay-verify="required|number"></td>
								<td>*가격단위</td>
								<td>
									<div class="layui-input-inline">
								      <select name="productPriceunit" id="productPriceunit">
										   <#list productMenu2 as menu>
										  <option value="${menu.dicid}">${menu.dicCnName}</option>
										  </#list>
									  </select>   
								    </div>
								</td>
							</tr>
							<tr>
								<td>*분류</td>
								<td>
									<div class="layui-input-inline">
								      <select name="productMenuId" id="productMenuId">
										  <#list productMenu as menu>
										  <option value="${menu.dicid}">${menu.dicCnName}</option>
										  </#list>
									  </select>   
								    </div>
								</td>
								<td>*브랜드</td>
								<td><input class="layui-input" autocomplete="off" id="productBrand" name="productBrand" type="text"  lay-verify="required"></td>
							</tr>
							<tr>
								<td>*산지</td>
								<td colspan=3>
									<div class="layui-input-inline">
								      <select name="country" lay-verify="required" lay-filter="country">
										  <option value="">선택하세요.</option>
									  </select>   
								    </div>
								    <div class="layui-input-inline">
								      <select name="province" lay-verify="required" lay-filter="province">
										  <option value="">선택하세요.</option>
									  </select>   
								    </div>
								    <div class="layui-input-inline">
								      <select name="city" lay-verify="required">
										  <option value="">선택하세요.</option>
									  </select>   
									 </div>
								</td>
							</tr>
							<tr>
								<td>규격</td>
								<td>
									<input autocomplete="off" class="layui-input" id="productNum" name="productNum" type="text">
							   	</td>
								<td>*공급 수량</td>
								<td><input class="layui-input" autocomplete="off" id="supplyquantity" name="supplyquantity" type="text"  lay-verify="required|number"></td>
							</tr>
							<tr>
								<td>사이버전시장 사이트</td>
								<td colspan="3"><input class="layui-input" autocomplete="off" placeholder="사이버전시장 링크를 기입하세요." id="url" name="url" type="text" /></td>
							</tr>
							<tr>
								<td>*표지 이미지</td>
								<input type="hidden" name="productPicture" id="productPicture" value=""  lay-verify="required" lay-reqText="제품 표지이미지를 업로드하세요.(필수) " />
								<td>
									<button type="button" class="layui-btn" id="btnProductPicture" style="display:none">
									  <i class="layui-icon">&#xe67c;</i>이미지 업로드
									</button>
									<button type="button" class="layui-btn" id="btnProductPictureCropper">
									  <i class="layui-icon">&#xe67c;</i>재단조수
									</button>
									<div class="layui-form-mid layui-word-aux"><br />주의: 포맷:jpg 파일크기< 2M 화소크기:750*750(가로*높이).표지이미지는 제품리스트 페이지의 제품 전시용으로 사용됨. 									
								</td>
								<td colspan="2" class="prepic"><image src="" width="390" height="390" id="preproductPicture" /></td>
							</tr>
							<tr>
								<td>순환홍보 이미지</td>
								<input type="hidden" name="productPictures" id="productPictures" value=""  />
								<td>
									<button type="button" class="layui-btn" id="btnProductPictures" style="display:none">
									  <i class="layui-icon">&#xe67c;</i>이미지 업로드
									</button>
									<button type="button" class="layui-btn" id="btnProductPicturesCropper">
									  <i class="layui-icon">&#xe67c;</i>재단조수
									</button>
									<div class="layui-form-mid layui-word-aux"><br />주의: 포맷:jpg 파일크기< 2M 화소크기:750*750(가로*높이).업로드 파일은 3장이내이어야 함.</div>
								</td>
								<td colspan="2">
									<div class="mutipic">
									</div>
								</td>
							</tr>
							<tr style="display:none">
								<td>동영상 소계</td>
								<input type="hidden" name="productVideo" id="productVideo" value="" />
								<td>
									<button type="button" class="layui-btn" id="btnProductVideo">
									  <i class="layui-icon">&#xe67c;</i>동영상 업로드 하세요.
									</button>
									<div class="layui-form-mid layui-word-aux"><br />주의:포맷:MP4;파일크기< 20M;파일 사이즈:750*750(가로*높이);가로와 높이 비례:1:1.</div>
								</td>
								<td colspan="2" class="prepic" id="videoContainer"><image src="" width="390" height="265" id="preidphotopath" /></td>
							</tr>
							<tr>
								<td>제품소계</td>
								<td  colspan="4">
              						<textarea name="productDescription" id="productDescription" rows="10" cols="80"  class="layui-input"></textarea>
								</td>
							</tr>
							<tr class="papers-edit-bg">
								<td colspan="4" align="center">
									<button type="button" class="layui-btn layui-btn-primary close">취소</button>
									<button type="reset" class="layui-btn layui-btn-primary" id="reset" style="display:none">재설정</button>
									<button type="button"  lay-submit class="layui-btn"  lay-filter="update">제출(submit)</button>
								</td>
							</tr>
							
						</table>
					</form>
				</fieldset>
			</div>
		</div>
	</div>
	<div id="mutiPictureTemplate" style="display:none">
	<div class="item">
		<img src="" />
		<div class="fc-upload-cover">
			<i class="ivu-icon fa fa-eye"></i>
			<i class="ivu-icon fa fa-trash"></i>
		</div>
	</div>
	</div>