<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>修改参展商管理-车辆证件审核</title>
		<meta content="webkit" name="renderer">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
		<link rel="stylesheet" href="/manage/css/xadmin.css">
		<link href="/manage/css/style.css?v=4.1.0" rel="stylesheet">
		<link href="/manage/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/manage/layui/css/layui.css"  media="all">
	</head>
	<body class="gray-bg">
		<div class="modal inmodal" id="friendlink-model">
			<div class="modal-content animated bounceInUp" id="vmUpdateEbsVehiclecard">
				<div class="ibox-content">
					<fieldset class="layui-elem-field layui-field-title" style="border-top:0px">
						<form class="layui-form layui-form-pane" lay-filter="demo" action="">	
							<div class="layui-form-item">
								<label class="layui-form-label" for="companyname"> 单位名称 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="companyname1" readonly name="companyname1" type="text" v-model="ebsVehiclecard.companyname">										
									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label" for="drivername"> 司机姓名 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">

										<input autocomplete="off" class="layui-input" id="drivername1" readonly name="drivername1" type="text" v-model="ebsVehiclecard.drivername">

									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label" for="platenumber"> 车牌号码 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">

										<input autocomplete="off" class="layui-input" id="platenumber1" readonly name="platenumber1"  type="text" v-model="ebsVehiclecard.platenumber">

									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label" for="cardtype"> 证件类型 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input type="text" class="layui-input" readonly id="cardtypename1" name="cardtypename1" v-model="ebsVehiclecard.cardtypename">
									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label" for="drivinglicense"> 车辆行驶证 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<div class="layui-input-inline">
							                <input autocomplete="off" class="layui-input" id="drivinglicense1" name="drivinglicense1" readonly type="text" v-model="ebsVehiclecard.drivinglicense">             
							              </div>
							              <div class="layui-input-inline">							                
							                <button type="button" class="layui-btn layui-btn-primary" id="yulanimg">
							                  	预览
							                </button>
							              </div>	
									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label" for="remark"> 备注 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<textarea class="layui-textarea" id="remark1" name="remark1" readonly rows="4" v-model="ebsVehiclecard.remark"></textarea>										
									</div>
								</div>
							</div>	
							
							<div class="layui-form-item">
								<label class="layui-form-label" for="remark"> 未通过原因 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<textarea class="layui-textarea" id="reviewremark" name="reviewremark" rows="4" v-model="ebsVehiclecard.reviewremark"></textarea>										
									</div>
								</div>
							</div>						

							<div class="layui-form-item">
								<label class="layui-form-label" for="status"> 状态 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block radioborder">										
										<input type='radio' name='status' value='-1' title='审核未通过'>
										<input type='radio' name='status' value='1' title='审核通过'>
									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<div class="layui-input-block">
									<input class="layui-btn layui-btn-primary" onclick="xadmin.close();" text="button" value="  返  回   ">
										
									
									<input type="hidden" id="cardtypeid"><input type="hidden" id="txtcompanyid">
								</div>
							</div>
						</form>
					</fieldset>
				</div>
			</div>
		</div>
		<script charset="utf-8" src="/manage/js/jquery.min.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/layui/layui.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/js/xadmin.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/js/vue.js" type="text/javascript"></script>
		<script src="/manage/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="/manage/js/manage/common.js"></script>
		<script charset="UTF-8" type="text/javascript">
			var editEbsVehiclecardId = sessionStorage.getItem("EbsVehiclecardId");
			vm = new Vue({
				el : "#vmUpdateEbsVehiclecard",
				data : {
					ebsVehiclecard : {}
				},
				methods : {},
				created : function() {
					var _this = this;
					$.ajax({
						url : "/manage/Exhibitors/ebsVehiclecard/findById",
						data : {
							"id" : editEbsVehiclecardId
						},
						dataType : "json",
						type : "get",
						success : function(result) {
							if (result.code === 200) {
								_this.ebsVehiclecard = result.data;
								$("#txtcompanyid").val(result.data.companyid);
								$("#cardtypeid").val(result.data.cardtype);
								var drivinglicense = result.data.drivinglicense;
								$("#yulanimg").attr("onclick","window.open('"+drivinglicense+"')");
								var sta = result.data.status;
								var radio = document.getElementsByName("status");
								var radioLength = radio.length;
								for (var i = 0; i < radioLength; i++) {
									if (sta == radio[i].value) {
										$(radio[i]).next().click();
									}
								}
							} else {
								layer.alert("获取修改参展商管理-车辆证件审核信息失败！");
							}
						}
					});
				}
			});
			
			
			
			layui.use(['form', 'layer', 'laydate'], function() {
				var form = layui.form, layer = layui.layer, laydate = layui.laydate;
				loadZhengJianLeiXing(form,$("#cardtypeid").val(),1);
				loadCompany(form,$("#txtcompanyid").val(),'companyid');
				form.render(null,'demo');
				//监听提交
				form.on('submit(edit)', function(data) {

					//组装数据
					data.field.id = editEbsVehiclecardId;

					//发异步，把数据提交给controller
					$.ajax({
						url : "/manage/Exhibitors/ebsVehiclecard/update",
						data : JSON.stringify(data.field),
						dataType : "json",
						contentType : "application/json",
						type : "post",
						success : function(result) {
							if (result.code === 200) {
								layer.msg("修改成功", {
									icon : 6,
									time : 500
								}, function() {
									//关闭当前frame
									xadmin.close();
									// 可以对父窗口进行刷新
									xadmin.father_reload();
								});
							} else {
								layer.alert(result.msg);
							}
						}
					});

					return false;
				});

			});
		</script>
	</body>
</html>
