<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>修改参展商管理-车辆证件审核</title>
		<meta content="webkit" name="renderer">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
		<link rel="stylesheet" href="/manage/css/xadmin.css">
		<link href="/manage/css/style.css?v=4.1.0" rel="stylesheet">
		<link href="/manage/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/manage/layui/css/layui.css"  media="all">
	</head>
	<body class="gray-bg">
		<div class="modal inmodal" id="friendlink-model">
			<div class="modal-content animated bounceInUp" id="vmUpdateEbsVehiclecard">
				<div class="ibox-content">
					<fieldset class="layui-elem-field layui-field-title" style="border-top:0px">
						<form class="layui-form layui-form-pane" lay-filter="demo" action="">	
							<div class="layui-form-item">
								<label class="layui-form-label" for="companyname"><span style='color:red'>*</span>单位名称 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">													
										<input class="layui-input" autocomplete="off" id="companyname" lay-verify="required" name="companyname"
										type="text" v-model="ebsVehiclecardx.companyname">
										<input class="layui-input" value="0" autocomplete="off" id="companyid" name="companyid"
										type="hidden" v-model="ebsVehiclecardx.companyid">							
									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label" for="drivername"><span style='color:red'>*</span>司机姓名 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">

										<input autocomplete="off" class="layui-input" id="drivername" name="drivername" lay-verify="required" type="text" v-model="ebsVehiclecardx.drivername">

									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label" for="platenumber"><span style='color:red'>*</span>车牌号码 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">

										<input autocomplete="off" class="layui-input" id="platenumber" name="platenumber" lay-verify="required" type="text" v-model="ebsVehiclecardx.platenumber">

									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label" for="cardtype"><span style='color:red'>*</span>证件类型 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<select id="cardtype" name="cardtype" lay-verify="required">
											<option value="">==请选择==</option>
										</select>
									</div>
								</div>
							</div>
							
							<div class="layui-form-item">
								<table width="80%" border=0>
									<tr>
									<td valign="top">
									<div class="layui-form-item">
										<label class="layui-form-label" for="companyname"><span style='color:red'>*</span>车辆行驶证</label>
											<div class="layui-input-inline layui-show-xs-block" style="width:80%">
													<input class="layui-input" autocomplete="off" id="drivinglicense" name="drivinglicense" type="hidden" v-model="ebsVehiclecardx.drivinglicense">
													<button type="button" class="layui-btn" id="btndrivinglicense">
													  <i class="layui-icon">&#xe67c;</i>裁剪助手
													</button>
									                <br>
									                <span style="color:red;font-size:16px">格式为jpg，上传文件小于2M。标准证件照尺寸390*265（宽*高）像素。</span>
												</div>
										
									</div></td>
									<td style="padding:5px">
										<img src="/images/2.jpg" width="390" onclick="SeeImage(this.src)" height="265" id="predrivinglicense">
									</td>
								</tr>
								</table>								
							</div>							

							<div class="layui-form-item">
								<label class="layui-form-label" for="remark">备注 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<textarea class="layui-textarea" id="remark" name="remark" rows="4" v-model="ebsVehiclecardx.remark"></textarea>
									</div>
								</div>
							</div>

							
							<!--
							<div class="layui-form-item">
								<label class="layui-form-label" for="status"> 状态 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block radioborder">
										<input type='radio' name='status' value='0' title='待审核'>
										<input type='radio' name='status' value='-1' title='审核未通过'>
										<input type='radio' name='status' value='1' title='审核通过'>
									</div>
								</div>
							</div>-->

							<div class="layui-form-item">
								<div class="layui-input-block">
									<button class="layui-btn" lay-filter="edit" lay-submit="">
										确认修改
									</button>
									<input type="hidden" id="cardtypeid"><input type="hidden" id="txtcompanyid">
									<input type="hidden" id="txtstatus">
								</div>
							</div>
						</form>
					</fieldset>
				</div>
			</div>
		</div>
		<script charset="utf-8" src="/manage/js/jquery.min.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/layui/layui.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/js/xadmin.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/js/vue.js" type="text/javascript"></script>
		<script src="/manage/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="/manage/js/manage/common.js"></script>
		<script charset="UTF-8" type="text/javascript">
	loadHeight();
			var editEbsVehiclecardId = sessionStorage.getItem("editEbsVehiclecardId");
			vm = new Vue({
				el : "#vmUpdateEbsVehiclecard",
				data : {
					ebsVehiclecard : {}
				},
				methods : {},
				created : function() {
					var _this = this;
					$.ajax({
						url : "/manage/Exhibitors/ebsVehiclecard/findById",
						data : {
							"id" : editEbsVehiclecardId
						},
						dataType : "json",
						type : "get",async:false, 
						success : function(result) {
							if (result.code === 200) {
								_this.ebsVehiclecard = result.data;
								_this.ebsVehiclecardx = JSON.parse( JSON.stringify(result.data) );
								
								$("#txtcompanyid").val(result.data.companyid);
								$("#cardtypeid").val(result.data.cardtype);
								var drivinglicense = result.data.drivinglicense=='' ? "/images/null150x85.jpg" : result.data.drivinglicense;
								$("#predrivinglicense").attr("src",drivinglicense);
								$("#txtstatus").val(result.data.status);
							} else {
								layer.alert("获取修改参展商管理-车辆证件审核信息失败！");
							}
						}
					});
				}
			});
			
			layui.use(['form', 'layer', 'laydate'], function() {
				var form = layui.form, layer = layui.layer, laydate = layui.laydate;
				loadZhengJianLeiXing(form,$("#cardtypeid").val(),1);
				//loadCompany(form,$("#txtcompanyid").val(),'companyid');
				/*
				var sta = $("#txtstatus").val();
				var radio = document.getElementsByName("status");
				var radioLength = radio.length;
				for (var i = 0; i < radioLength; i++) {
					if (sta == radio[i].value) {
						$(radio[i]).next().click();
					}
				}*/
				
				form.render(null,'demo');
				//监听提交
				form.on('submit(edit)', function(data) {

					if($("#drivinglicense").val()==''){
						layer.msg("请上传车辆行驶证", {icon: 2, time: 1000});
	                	return false;
					}

					//组装数据
					data.field.id = editEbsVehiclecardId;

					//发异步，把数据提交给controller
					$.ajax({
						url : "/manage/Exhibitors/ebsVehiclecard/update",
						data : JSON.stringify(data.field),
						dataType : "json",
						contentType : "application/json",
						type : "post",
						success : function(result) {
							if (result.code === 200) {
								layer.msg("修改成功", {
									icon : 6,
									time : 500
								}, function() {
									//关闭当前frame
									xadmin.close();
									// 可以对父窗口进行刷新
									xadmin.father_reload();
								});
							} else {
								layer.alert(result.msg);
							}
						}
					});

					return false;
				});

			});
		</script>
		<script src="/manage/js/manage/crop.js"></script>
	</body>
</html>
