<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>行业表详情</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
    <link rel="stylesheet" href="/manage/css/xadmin.css">
	<link href="/manage/css/style.css?v=4.1.0" rel="stylesheet">
	<link href="/manage/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/manage/layui/css/layui.css"  media="all">
</head>
<body class="gray-bg">
    <div class="modal inmodal" id="friendlink-model">
		<div class="modal-content animated bounceInUp" id="vmViewSysIndustry">
			<div class="ibox-content">
				<fieldset class="layui-elem-field layui-field-title" style="border-top:0px">
					<form class="layui-form layui-form-pane" action="">
	                    <div class="layui-form-item">
	                        <label class="layui-form-label" for="chineseName">名称（中文）</label>
	                        <div class="layui-input-block">
	                            <div class="layui-input-inline layui-show-xs-block">
	                                <input autocomplete="off" class="layui-input" id="chineseName" name="chineseName" readonly type="text" v-model="sysIndustry.chineseName">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label" for="russianName">名称（俄文）</label>
	                        <div class="layui-input-block">
	                            <div class="layui-input-inline layui-show-xs-block">
	                                <input autocomplete="off" class="layui-input" id="russianName" name="russianName" readonly type="text" v-model="sysIndustry.russianName">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label" for="japaneseName">名称（日文）</label>
	                        <div class="layui-input-block">
	                            <div class="layui-input-inline layui-show-xs-block">
	                                <input autocomplete="off" class="layui-input" id="japaneseName" name="japaneseName" readonly type="text" v-model="sysIndustry.japaneseName">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label" for="englishName">名称（英文）</label>
	                        <div class="layui-input-block">
	                            <div class="layui-input-inline layui-show-xs-block">
	                                <input autocomplete="off" class="layui-input" id="englishName" name="englishName" readonly type="text" v-model="sysIndustry.englishName">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label" for="hangulName">名称（朝鲜文）</label>
	                        <div class="layui-input-block">
	                            <div class="layui-input-inline layui-show-xs-block">
	                                <input autocomplete="off" class="layui-input" id="hangulName" name="hangulName" readonly type="text" v-model="sysIndustry.hangulName">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
	                        <label class="layui-form-label" for="orderNum">排序编号</label>
	                        <div class="layui-input-block">
	                            <div class="layui-input-inline layui-show-xs-block">
	                                <input autocomplete="off" class="layui-input" id="orderNum" name="orderNum" readonly type="text" v-model="sysIndustry.orderNum">
	                            </div>
	                        </div>
	                    </div>
			            <div class="layui-form-item">  
			            	<div class="layui-input-block">	              
                				<button class="layui-btn layui-btn-primary" onclick="xadmin.close();" style="width: 100px;">返回</button>
			                </div>
			            </div>
			        </form>
			 	</fieldset>
			</div>
		</div>
	</div>
	<script charset="utf-8" src="/manage/js/jquery.min.js" type="text/javascript"></script>
	<script charset="utf-8" src="/manage/layui/layui.js" type="text/javascript"></script>
	<script charset="utf-8" src="/manage/js/xadmin.js" type="text/javascript"></script>
	<script charset="utf-8" src="/manage/js/vue.js" type="text/javascript"></script>
	<script src="/manage/js/bootstrap.min.js?v=3.3.6"></script>		
	<script src="/manage/js/manage/common.js"></script>	
	<script charset="UTF-8" type="text/javascript">
	loadHeight();
    	var viewSysIndustryId = sessionStorage.getItem("viewSysIndustryId");
    	vm = new Vue({
		    el: "#vmViewSysIndustry",
		    data: {
		    	sysIndustry: {}
		    },
		    methods: {},
		    created: function () {
		        var _this = this;
		        $.ajax({
		            url: "/manage/system/sysIndustry/findById",
		            data: {
		                "id": viewSysIndustryId
		            },
		            dataType: "json",
		            type: "get",
		            success: function (result) {
		                if (result.code === 1) {
		                    _this.sysIndustry = result.data;
		                } else {
		                    layer.alert("获取修改行业表信息失败！");
		                }
		            }
		        });
			}
		});
	</script>
</body>
</html>