<div class="common-top">
  <div class="body">
	<div class="common-return-home">
		<a href="http://www.hljlbh.org.cn/">Вернуться на официальный сайт</a>
	</div>
	<div class="common-logo">
		<img src="${exhibitionInfo.siteSmartLogo}">
	</div>
	<div class="common-sitename">
		<img src="/images/common-sitename.png">
	</div>
	<div class="common-info">
	Время проведения: с 18 по 22 декабря 2020 г. Место проведения: Харбинский международный конгрессно-выставочный и спортивный центр
	</div>
  </div>
</div>