.member-head a,.common-return-home a{min-width:95px;width:auto;padding:0px 10px}
.left-item span{width:170px;display:inline-flex;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;white-space:nowrap;}
.login-title{overflow:hidden;}