<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>产品审核</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
    <link rel="stylesheet" href="/manage/css/xadmin.css">
	<link href="/manage/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/manage/layui/css/layui.css"  media="all">
	<link href="/manage/css/style.css?v=4.1.0" rel="stylesheet">
	<link href="/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<style type="text/css">
    	.layui-checkbox-disbaled[lay-skin=primary] span {
		    color: #009688;
		}
		.layui-disabled, .layui-disabled:hover {
		    color: #009688!important;
		}
		.layui-radio-disbaled>i {
		    color: #3c763d!important;
		}
		.layui-form-pane .layui-form-label {
    		width: 130px;
   		}
    </style>
</head>
<body class="gray-bg">
    <div class="modal inmodal" id="friendlink-model">
		<div class="modal-content animated bounceInUp" id="vmUpdateWebProduct">
			<div class="ibox-content">
				<fieldset class="layui-elem-field layui-field-title" style="border-top:0px">
					<form class="layui-form layui-form-pane" lay-filter="test1" action="">
                        <div class="layui-form-item" style="display:none">
                            <label class="layui-form-label" for="companyId">所属公司id</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                            		<input autocomplete="off" class="layui-input" id="companyId" name="companyId" type="text" v-model="webProduct.companyId">
	                            </div>
	                        </div>
	                    </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="companyName" style="width:130px"><span style="color:red">*</span>所属公司名称</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                					<input autocomplete="off" class="layui-input" readonly id="companyName" name="companyName" type="text" v-model="webProduct.companyName">
	                            </div>
	                        </div>
	                    </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="productMenuId"><span style="color:red">*</span>所属栏目</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                                	<select class="layui-input" id="productMenuId" name="productMenuId" disabled="disabled">
                                	</select>
	                            </div>
	                        </div>
	                    </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="productName"><span style="color:red">*</span>产品名称</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                					<input disabled="disabled" autocomplete="off" class="layui-input" id="productName" name="productName" type="text" v-model="webProduct.productName">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
                            <label class="layui-form-label" for="productName"><span style="color:red">*</span>产品单位</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                					<select id="productUnit" name="productUnit" disabled="disabled">
                            		</select>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
                            <label class="layui-form-label" for="productBrand"><span style="color:red">*</span>品牌</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block" id="Div$column.attrnameDiv">
                					<input disabled="disabled" id="productBrand" name="productBrand" autocomplete="off" class="layui-input" type="text" v-model="webProduct.productBrand">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
                            <label class="layui-form-label" for="productNum"><span style="color:red">*</span>规格</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                					<input disabled="disabled" autocomplete="off" class="layui-input" id="productNum" name="productNum" type="text" v-model="webProduct.productNum">
                					<input autocomplete="off" class="layui-input" id="productId" name="productId" type="hidden" v-model="webProduct.productId">
	                            </div>
	                        </div>
	                    </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="productPrice"><span style="color:red">*</span>产品价格</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                                	<input disabled="disabled" autocomplete="off" class="layui-input" id="productPrice" name="productPrice" type="text" v-model="webProduct.productPrice">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
                            <label class="layui-form-label" for="productPriceunit"><span style="color:red">*</span>价格单位</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block" id="Div$column.attrnameDiv">                            		
                            		<select disabled="disabled" id="productPriceunit" name="productPriceunit">
                            		</select>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
                            <label class="layui-form-label" for="supplyquantity"><span style="color:red">*</span>供应数量</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block" id="Div$column.attrnameDiv">
                					<input disabled="disabled" id="supplyquantity" name="supplyquantity" autocomplete="off" class="layui-input" type="text" v-model="webProduct.supplyquantity">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="layui-form-item">
                            <label class="layui-form-label" for="country"><span style="color:red">*</span>产地</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block" id="Div$column.attrnameDiv">
                            		<table width="80%">
										<tr>
											<td id="countryTd"><select disabled="disabled" id="country" lay-filter="country" name="country"></select></td>
											<td><select disabled="disabled" id="province" lay-filter="province" name="province"></select></td>
											<td><select disabled="disabled" id="city" name="city" ></select></td>
										</tr>
									</table>
	                            </div>
	                        </div>
	                    </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="url">虚拟展厅地址</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block" id="Div$column.attrnameDiv">
                					<input disabled="disabled" id="url" name="url" autocomplete="off" class="layui-input" type="text" v-model="webProduct.url">
	                            </div>
	                        </div>
	                    </div>
                        <div class="layui-form-item">
								<table>
									<tr>
										<td valign="top"><label class="layui-form-label" for="companyname">封面图</label></td>
										<td><img src="/images/null150x85.jpg" onclick="SeeImage(this.src)" width="390" style="border: 1px solid #e6e6e6;" id="preproductPicture"></td>
									</tr>
								</table>
							</div>

							<table>
								<tr>
									<td valign="top"><label class="layui-form-label" for="companyname">轮播图片</label></td>
									<td><div class="mutipic"></div></td>
								</tr>
							</table>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="productVideo">产品视频</label>
                            <div class="layui-input-block">
	                            <div class="layui-input-inline radioborder" style="padding-left:5px">
									<button type="button" class="layui-btn layui-btn-primary" style="display:none" id="yulan2">
										预览
									</button>
								</div>
	                        </div>
	                    </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" for="productDescription">产品细节</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                 					<textarea id="productDescription" name="productDescription" cols="20" rows="2" readonly="readonly" class="ckeditor"></textarea>
	                            </div>
	                        </div>
	                    </div>    
	                    <div class="layui-form-item">
                            <label class="layui-form-label" for="remark">审核拒绝理由</label>
                            <div class="layui-input-block">
                                <div class="layui-input-inline layui-show-xs-block">
                 					<textarea class="layui-textarea" id="remark" name="remark" rows="4" v-model="webProduct.remark"></textarea>
	                            </div>
	                        </div>
	                    </div>   
	                    <div class="layui-form-item">
							<label class="layui-form-label" for="companyname" style="width:130px"><span style='color:red'>*</span>审核</label>
							<div class="layui-input-block">
								<div class="layui-input-inline layui-show-xs-block radioborder" style="width:80%">
									<input type="radio" value="1" checked id="status1" title="审核通过" name="productStatus">
									<input type="radio" value="-1" name="productStatus" id="status-1" title="审核拒绝">
								</div>
							</div>
						</div>                   
			            <div class="layui-form-item">
				            <div class="layui-input-block">	
				            	<button class="layui-btn" lay-filter="edit" lay-submit="">确认修改</button>
				            	<input type="hidden" id="txtproductMenuId">
				            	<input type="hidden" id="txtproductStatus">
				            	<input id="txtcountry" type="hidden">
				            	<input id="txtcity" type="hidden">
				            	<input id="txtarea" type="hidden">
				            	<input id="txtproductPriceunit" type="hidden">
				            	<input id="txtproductUnit" type="hidden">
				            </div>
						</div>
					</form>
 				</fieldset>
			</div>
		</div>
	</div>
	<div id="mutiPictureTemplate" style="display:none">
			<div class="item" style="margin: 0px 5px 15px 0px;">
				<img style="width:120px;border: 1px solid #e6e6e6;" src="" />
				<div class="fc-upload-cover">
					<i class="ivu-icon fa fa-eye"></i>
					<i class="ivu-icon fa fa-trash"></i>
				</div>
			</div>
		</div>
	<script charset="utf-8" src="/manage/js/jquery.min.js" type="text/javascript"></script>
	<script charset="utf-8" src="/manage/layui/layui.js" type="text/javascript"></script>
	<script charset="utf-8" src="/manage/js/xadmin.js" type="text/javascript"></script>
	<script charset="utf-8" src="/manage/js/vue.js" type="text/javascript"></script>
	<script src="/manage/js/bootstrap.min.js?v=3.3.6"></script>	
	<script src="/manage/plugins/ckeditor/ckeditor.js" charset="utf-8"></script>	
	<script src="/manage/js/manage/common.js"></script>		
	<script charset="UTF-8" type="text/javascript">
		$(document).ready(function(){
			CKEDITOR.replace('productDescription');
		});
    	var editWebProductId = sessionStorage.getItem("editWebProductId");
    	vm = new Vue({
	        el: "#vmUpdateWebProduct",
	        data: {
	            webProduct: {}
	        },
	        methods: {},
	        created: function () {
	            var _this = this;
	            $.ajax({
	                url: "/manage/Product/webProduct/findById",
	                data: {
	                    "product_id": editWebProductId
	                },
	                dataType: "json",
	                type: "get",async:false,
	                success: function (result) {
	                    if (result.code === 1) {
	                        _this.webProduct = result.data;
	                        $('#productDescription').html(result.data.productDescription);
	                        $("#txtcountry").val(result.data.country);
				            $("#txtarea").val(result.data.province);
				            $("#txtcity").val(result.data.city);
				            $("#txtproductPriceunit").val(result.data.productPriceunit);
	                        $("#txtproductMenuId").val(result.data.productMenuId);
	                        $("#txtproductUnit").val(result.data.productUnit);
	                        if(result.data.productPicture!=null && result.data.productPicture!='') $("#preproductPicture").attr("src", result.data.productPicture);
	                        if(result.data.productVideo!=''){
	                        	$("#yulan2").show();
	                        	$("#yulan2").attr("onclick","window.open('"+result.data.productVideo+"')");
	                        }
	                        $("#txtproductStatus").val(result.data.productStatus);
	                        var productPictures = eval(result.data.productPictures);
							if(typeof productPictures!="undefined"){
								for(var i = 0;i<productPictures.length;i++){
									$("#mutiPictureTemplate img").attr("src",productPictures[i]);
									var templateHtml = $("#mutiPictureTemplate").html();
									var item = $(templateHtml);
									$(".mutipic").append(item);
								}
							}else{
								$(".mutipic").append($("#mutiPictureTemplate").html());
							}
	                    } else {
	                        layer.alert("获取修改信息失败！");
	                    }
	                }
	            });
	        }
	    });
    	layui.use(['form', 'layer', 'laydate'], function () {
            var form = layui.form, layer = layui.layer, laydate = layui.laydate;
            addLisenter();
             CKEDITOR.instances.productDescription.setData($('#productDescription').val());
            loadZiDianByParentID_Select(form,$("#txtproductPriceunit").val(),100,"productPriceunit");
            loadZiDianByParentID_Select(form,$("#txtproductUnit").val(),105,"productUnit");
            
            loadZiDianByParentID_Select(form,$("#txtproductMenuId").val(),90,"productMenuId");
            
            loadCountry(form,$("#txtcountry").val(),$("#txtarea").val(),$("#txtcity").val(),"country","province","city");
			
    		form.on('select(country)', function(data){
				loadProvinceChange(form,$("#country").val(),'',"province");
				form.render(null, 'test1');			
			});
			form.on('select(province)', function(data){
				loadCity(form,$("#province").val(),'',"city");
				form.render(null, 'test1');			
			});				
            
            var radio = document.getElementsByName("productStatus");
			var radioLength = radio.length;
			for (var i = 0; i < radioLength; i++) {
				if ($("#txtproductStatus").val() == radio[i].value) {
					$(radio[i]).next().click();
				}
			}
			
			form.render('', 'test1');
            
            //监听提交
            form.on('submit(edit)', function (data) {
                //组装数据
                data.field.id = editWebProductId;
                data.field.productDescription = CKEDITOR.instances.productDescription.getData();
                if(data.field.productStatus==-1 && $("#remark").val()==''){
                	layer.alert("请填写审核拒绝理由");
                	return false;
                }
              
                $.ajax({
                    url: "/manage/Product/webProduct/updateBackstage",
                    data: JSON.stringify(data.field),
                    dataType: "json",
                    contentType: "application/json",
                    type: "post",
                    success: function (result) {
                        if (result.code === 1) {
                            layer.msg("修改成功", {icon: 6, time: 500}, function () {
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                        } else {
                        	if(result.status==5){
                        		layer.alert(result.msg);
                        		parent.window.location.href='/manage/login.html';
                        	}
                            layer.alert(result.msg);
                        }
                    }
                });
                return false;
            });
		});
	</script>
	<script src="/manage/js/manage/crop.js"></script>
</body>
</html>