<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>参展企业信息</title>
		<meta content="webkit" name="renderer">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
		<link rel="stylesheet" href="/manage/css/xadmin.css">
		<link href="/manage/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/manage/layui/css/layui.css"  media="all">
		<link href="/manage/css/style.css?v=4.1.0" rel="stylesheet">
		<link href="/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<style type="text/css">
			.layui-form-pane .layui-form-label {
				width: 150px;
			}
			.layui-form-pane .layui-input-block {
				margin-left: 150px;
			}
			.layui-table, .layui-table-view{
				margin-top: 0px;
			}
		</style>
		<style type="text/css">
	        .layui-table-cell {
	            height: auto;
	            line-height: 40px;
	        }
	    </style>
	</head>
	<body class="gray-bg">
		<div class="modal inmodal" id="friendlink-model">
			<div class="modal-content animated bounceInUp" id="vmUpdateEbsCompanyinfo">
				<div class="ibox-content">
					<!--startprint-->
					<fieldset class="layui-elem-field layui-field-title" style="border-top:0px">
						<form class="layui-form layui-form-pane" action="">
							<div class="layui-form-item">
								<label class="layui-form-label" for="engaddress"><span style='color:red'>*</span>统一社会信用代码</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block" id="organizationcodeDiv">
										<input autocomplete="off" class="layui-input" id="organizationcode" name="organizationcode" lay-verify="required" type="text" v-model="ebsCompanyinfo.organizationcode">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="chinesename"><span style='color:red'>*</span>单位名称（中文）</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="chinesename" name="chinesename" lay-verify="required" type="text" v-model="ebsCompanyinfo.chinesename">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="engname"><span style='color:red'>*</span>单位名称（英文）</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="engname" name="engname" lay-verify="required" type="text" v-model="ebsCompanyinfo.engname">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="russianname">单位名称（俄文）</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="russianname" name="russianname" lay-verify="required" type="text" v-model="ebsCompanyinfo.russianname">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="chineseaddress"><span style='color:red'>*</span>单位地址（中文）</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="chineseaddress" name="chineseaddress" lay-verify="required" type="text" v-model="ebsCompanyinfo.chineseaddress">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="engaddress"><span style='color:red'>*</span>单位地址（英文）</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="engaddress" name="engaddress" lay-verify="required" type="text" v-model="ebsCompanyinfo.engaddress">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="postcode"><span style='color:red'>*</span>邮编</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="postcode" name="postcode" lay-verify="required" type="text" v-model="ebsCompanyinfo.postcode">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="phone"><span style='color:red'>*</span>手机</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="phone" name="phone" lay-verify="required" type="text" v-model="ebsCompanyinfo.phone">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="tel"><span style='color:red'>*</span>电话</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="tel" name="tel" lay-verify="required" type="text" v-model="ebsCompanyinfo.tel">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="fax"><span style='color:red'>*</span>传真</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="fax" name="fax" lay-verify="required" type="text" v-model="ebsCompanyinfo.fax">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="website">网址</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="website" name="website" type="text" v-model="ebsCompanyinfo.website">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="email"><span style='color:red'>*</span>电子邮箱</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="email" name="email" lay-verify="required" type="text" v-model="ebsCompanyinfo.email">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
	                            <label class="layui-form-label" for="country"><span style='color:red'>*</span>国家</label>
	                            <div class="layui-input-block">
	                                <div class="layui-input-inline layui-show-xs-block" id="countryDiv">
	                                	<select id="country" lay-verify="required" lay-filter="country" lay-search=""></select>
		                            </div>
		                        </div>
		                    </div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="province"><span style='color:red'>*</span>省份</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block" id="provinceDiv">
										<select id="province" lay-verify="required" lay-filter="province" lay-search=""></select>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="city"><span style='color:red'>*</span>城市</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block" id="cityDiv">
										<select id="city" lay-search="" lay-verify="required"></select>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="principal"><span style='color:red'>*</span>负责人</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="principal" name="principal" lay-verify="required" type="text" v-model="ebsCompanyinfo.principal">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="contactperson"><span style='color:red'>*</span>联系人</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="contactperson" name="contactperson" lay-verify="required" type="text" v-model="ebsCompanyinfo.contactperson">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="jobtitle">联系人职务</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" class="layui-input" id="jobtitle" name="jobtitle" type="text" v-model="ebsCompanyinfo.jobtitle">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
	                            <label class="layui-form-label" for="url">虚拟展厅地址</label>
	                            <div class="layui-input-block">
	                                <div class="layui-input-inline layui-show-xs-block" id="urlDiv">
	                					<input id="url" name="url" autocomplete="off" class="layui-input" type="text" v-model="ebsCompanyinfo.url">
		                            </div>
		                        </div>
		                    </div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="industryid"><span style='color:red'>*</span>行业分类</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block" id="industryDiv">
										<select id="industry" lay-search="" lay-verify="required"></select>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="exhibitorsNatureId"><span style='color:red'>*</span>参展企业性质</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block" id="companyNatureDiv">
										<select id="companyNature" lay-verify="required"></select>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="height: 100px;line-height: 70px;"><span style='color:red'>*</span>经营范围</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<textarea class="layui-textarea" id="busscope" name="busscope" lay-verify="required" rows="4" v-model="ebsCompanyinfo.busscope"></textarea>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="height: 100px;line-height: 70px;">希望结识客户</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<textarea class="layui-textarea" id="hopecustomers" name="hopecustomers" rows="4" v-model="ebsCompanyinfo.hopecustomers"></textarea>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="height: 100px;line-height: 70px;"><span style='color:red'>*</span>企业简介</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<textarea class="layui-textarea" id="companyprofile" name="companyprofile" lay-verify="required" rows="4" v-model="ebsCompanyinfo.companyprofile"></textarea>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" style="height: 100px;line-height: 70px;"><span style='color:red'>*</span>采购意向</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<textarea class="layui-textarea" id="purchaseintention" name="purchaseintention" lay-verify="required" rows="4" v-model="ebsCompanyinfo.purchaseintention"></textarea>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<table>
									<tr>
									<td valign="top">
										<label class="layui-form-label" for="companyname"><span style='color:red'>*</span>企业Logo</label>
									</td>
									<td style="padding:5px">
										<img src="/images/null200x200.jpg" onclick="SeeImage(this.src)" width="200" height="200" id="precompanylogo">
									</td>
								</tr>
								</table>								
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="buslicensepath"><span style='color:red'>*</span>营业执照</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block" id="buslicensepath">
										<img :src="ebsCompanyinfo.buslicensepath" onclick="SeeImage(this.src)" style="width:390px;margin-left: 2px;" height="516">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="relateddocumentspath">相关文件</label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block" id="relateddocumentspath">
										<button type="button" style="margin-left: 2px;height: 40px;" class="layui-btn layui-btn-primary" onclick="vm.downLoadRelatedDocuments()">
											<i class="layui-icon layui-icon-link"></i>下载文件
										</button>
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<table>
									<tr>
									<td valign="top">
										<label class="layui-form-label" for="precompanypicture"><span style='color:red'>*</span>企业封面</label>
									</td>
									<td style="padding:5px">
										<img src="/images/null200x200.jpg" width="390" height="219" onclick="SeeImage(this.src)" id="precompanypicture">
									</td>
								</tr>
								</table>								
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="companyvideo">宣传短片</label>
								<div class="layui-input-block" id="companyvideoDiv">
									<div class="layui-input-inline layui-show-xs-block">
										<input autocomplete="off" style="display:none" class="layui-input" id="companyvideo" name="companyvideo" type="text" v-model="ebsCompanyinfo.companyvideo">
									</div>
									<button type="button" class="layui-btn layui-btn-primary" style="display:none" id="yulan2">
										预览
									</button>
								</div>
							</div><br>
							<table>
								<tr>
									<td valign="top">
										<label class="layui-form-label" for="companyPicturesDiv">轮播图片</label>
									</td>
									<td style="width: 100%">
										<div class="mutipic">
										</div>
									</td>
								</tr>
							</table>
						</form>
					</fieldset>
				</div>
			</div>
		</div>
		<div id="mutiPictureTemplate" style="display:none">
			<div class="item">
				<img style="width:100px" src="" onclick="SeeImage(this.src)"/>
			</div>
		</div>
		<script charset="utf-8" src="/manage/js/jquery.min.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/layui/layui.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/js/xadmin.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/js/vue.js" type="text/javascript"></script>
		<script src="/manage/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="/manage/js/manage/common.js"></script>
		<script src="/manage/js/content.js"></script>
		<script src="/manage/js/manage/product/WebProduct/product.js"></script>
		<script src="/manage/js/manage/Exhibitors/EbsPersonnelcard/EbsPersonnelcard.js"></script>
		<script charset="UTF-8" type="text/javascript">
			var form;
			var layer;
			var editEbsCompanyinfoId = sessionStorage.getItem("editEbsCompanyinfoId");
			vm = new Vue({
				el : "#vmUpdateEbsCompanyinfo",
				data : {
					ebsCompanyinfo : {}
				},
				methods : {
					//查看图片
					downLoadRelatedDocuments : function() {
						if (vm.ebsCompanyinfo.relateddocumentspath == null || vm.ebsCompanyinfo.relateddocumentspath == '') {
							layer.alert("企业未上传相关文件");
						} else {
							window.open(vm.ebsCompanyinfo.relateddocumentspath);
						}
					}
				},
				created : function() {
					var _this = this;
					layui.use(['form', 'layer', 'laydate', 'table'], function() {
						layer = layui.layer;
						form = layui.form;
						var laydate = layui.laydate;
						var table = layui.table;
						var tradingGroupList = loadTradingGroupByType(form, '', "tradingGroupSelect", 1);
						$.ajax({
							url : "/manage/Exhibitors/ebsCompanyinfo/findById",
							data : {
								"id" : editEbsCompanyinfoId
							},
							dataType : "json",
							type : "get",
							success : function(result) {
								if (result.code === 1) {
									_this.ebsCompanyinfo = result.data;
									loadCountryInfo(form, "country", result.data.country);
									loadProvince(result.data.country, result.data.province);
									loadCity(result.data.province, result.data.city);
									loadIndustry(result.data.industryid);
									loadCompanyNature(result.data.exhibitors_nature_id);
									if (result.data.buslicensepath == null || result.data.buslicensepath == '') {
										$("#buslicensepath").html("<input disabled=\"disabled\" class=\"layui-input\" type=\"text\" value=\"企业未上传营业执照\">");
									}
									if (result.data.relateddocumentspath == null || result.data.relateddocumentspath == '') {
										$("#relateddocumentspath").html("<input disabled=\"disabled\" class=\"layui-input\" type=\"text\" value=\"企业未上传相关文件\">");
									}
									var companyPictures = eval(result.data.companypictures);
									if(typeof companyPictures!="undefined" && companyPictures.length!=0){
										for(var i = 0;i<companyPictures.length;i++){
											$("#mutiPictureTemplate img").attr("src",companyPictures[i]);
											var templateHtml = $("#mutiPictureTemplate").html();
											var item = $(templateHtml);
											$(".mutipic").append(item);
										}
									}else{
										$(".mutipic").html("<input disabled=\"disabled\" class=\"layui-input\" type=\"text\" value=\"企业未上传轮播图\">");
									}
									if (result.data.companypicture != null && result.data.companypicture != '') $("#precompanypicture").attr("src", result.data.companypicture);
									if (result.data.companyvideo != null && result.data.companyvideo != '') {
										$("#yulan2").show();
										$("#yulan2").attr("onclick", "window.open('" + result.data.companyvideo + "')");
									}else{
										$("#companyvideoDiv").html("<input disabled=\"disabled\" class=\"layui-input\" type=\"text\" value=\"企业未上传宣传短片\">");
									}
									if (result.data.companylogo != null && result.data.companylogo != '') $("#precompanylogo").attr("src", result.data.companylogo);
								} else {
									layui.layer.alert("获取企业信息失败！");
								}
							}
						});
					});
				}
			});
			//加载省份
			function loadProvince(parentId, selectProvince) {
				$.get("/manage/system/sysCountryArea/loadProvince", {'parentId' : parentId}, function(r) {
					var provinceStr = '<option value="">请选择省份</option>';
					r.forEach(function(item, index) {
						if (selectProvince != item.id) {
							provinceStr += '<option value="' + item.id + '">' + item.NAME + '</option>';
						} else {
							provinceStr += '<option value="' + item.id + '" selected>' + item.NAME + '</option>';
						}
					});
					$("#province").html(provinceStr);
					layui.form.render('select');
				});
			}
			//加载城市
			function loadCity(parentId, selectCity) {
				$.get("/manage/system/sysCountryArea/loadCity", {
					'parentId' : parentId
				}, function(r) {
					var cityStr = '<option value="">请选择城市</option>';
					r.forEach(function(item, index) {
						if (selectCity != item.id) {
							cityStr += '<option value="' + item.id + '">' + item.NAME + '</option>';
						} else {
							cityStr += '<option value="' + item.id + '" selected>' + item.NAME + '</option>';
						}
					});
					$("#city").html(cityStr);
					layui.form.render('select');
				});
			}
			//加载行业分类
			function loadIndustry(selectIndustry) {
				$.get("/manage/system/sysIndustry/list", {
					'page' : 1,
					'limit' : 10000
				}, function(r) {
					if (r.code == 1) {
						var industryStr = '<option value="">请选择行业分类</option>';
						r.data.forEach(function(item, index) {
							if (selectIndustry != item.id) {
								industryStr += '<option value="' + item.id + '">' + item.chineseName + '</option>';
							} else {
								industryStr += '<option value="' + item.id + '" selected>' + item.chineseName + '</option>';
							}
						});
						$("#industry").html(industryStr);
						layui.form.render('select');
					} else if (r.code == 5) {
						layer.confirm(r.msg, {
							icon : 3,
							title : '提示'
						}, function(index) {
							window.location.href = "/manage/login.html";
						});
					} else {
						layer.alert(r.msg);
					}
				});
			}
			//加载企业性质
			function loadCompanyNature(selectcompanyNature) {
				$.get("/manage/system/sysCompanyType/list", {
					'page' : 1,
					'limit' : 10000
				}, function(r) {
					if (r.code == 1) {
						var companyNatureStr = '<option value="">请选择企业性质</option>';
						r.data.forEach(function(item, index) {
							if (selectcompanyNature != item.id) {
								companyNatureStr += '<option value="' + item.id + '">' + item.chineseName + '</option>';
							} else {
								companyNatureStr += '<option value="' + item.id + '" selected>' + item.chineseName + '</option>';
							}
						});
						$("#companyNature").html(companyNatureStr);
						layui.form.render('select');
					} else if (r.code == 5) {
						layer.confirm(r.msg, {
							icon : 3,
							title : '提示'
						}, function(index) {
							window.location.href = "/manage/login.html";
						});
					} else {
						layer.alert(r.msg);
					}
				});
			}
		</script>
	</body>
</html>