<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.org.chtf.card.manage.Exhibitors.dao.EbsStadiumMapper">

    <select id="findById" resultType="cn.org.chtf.card.manage.Exhibitors.model.EbsStadium">
        select a.id,a.session,a.companyid,a.companyname,a.relationcompanyid,a.relationcompanyname
        ,a.remark,a.agent,vw.uname as agentname,a.status,a.paystatus,a.addtime
        ,a.printstatus        
        ,case printstatus 
				when 0 then '未打印'
				when 1 then '打印中'
				when 2 then '已打印'
		end	as printstatusname
		,a.printtime
		,a.printtype
		,case printtype when -1 then ''
		when 0 then '正常打印' 
		when 1 then 'IC卡打印' end printtypename
        ,a.makecardtime,
		a.isforensics as isforensics,
		a.forensicstime as forensicstime,
		a.certificatenumber as certificatenumber,
		a.printnumber as printnumber
		,a.reviewremark
		,a.isplastic
		,a.isback
		,a.plastictime
		,a.relationcompanyid
		,a.relationcompanyname
		,a.paystatus
		,case a.paystatus when 0 then '待缴费' when 1 then '已缴费' end paystatusname
		,a.audittime
		,a.safetyresponsibilitycommit
		,a.fitmentapplication
		,a.effectdiagram
		,a.constructiondiagram
		,a.pointdiagram
		,a.circuitdiagram
		,a.workercertificatecopy
		,a.equipmentqualifiedprove
		,a.workercasualtyprove
        from ebs_stadium as a
        left join vw_Frontend_user_integration as vw on vw.isback=a.isback and vw.uid=a.agent
        where a.id = #{id}
    </select>

    <select id="findByMap" resultType="cn.org.chtf.card.manage.Exhibitors.model.EbsStadium">
        select a.id,a.session,a.companyname,a.companyid
        ,a.remark,a.agent,vw.uname as agentname,a.status,a.addtime
        ,a.printstatus
        ,case printstatus
        when 0 then '未打印'
        when 1 then '打印中'
        when 2 then '已打印'
        end as printstatusname
        ,a.printtype
        ,case printtype when -1 then ''
        when 0 then '正常打印'
        when 1 then 'IC卡打印' end printtypename,a.printtime
        ,a.makecardtime,
        a.isforensics as isforensics,
        a.forensicstime as forensicstime,
        a.certificatenumber as certificatenumber
        ,a.printnumber as printnumber
        ,a.reviewremark
        ,a.isplastic
        ,a.isback
        ,a.plastictime
		,a.relationcompanyid
		,a.relationcompanyname
		,a.paystatus
		,case a.paystatus when 0 then '待缴费' when 1 then '已缴费' end paystatusname
		,a.audittime
        ,a.safetyresponsibilitycommit
        ,a.fitmentapplication
        ,a.effectdiagram
        ,a.constructiondiagram
        ,a.pointdiagram
        ,a.circuitdiagram
        ,a.workercertificatecopy
        ,a.equipmentqualifiedprove
        ,a.workercasualtyprove
        from ebs_stadium as a
        left join vw_Frontend_user_integration as vw on vw.isback=a.isback and vw.uid=a.agent
        <where>
            <if test="id != null and id != ''">
                and a.id = #{id}
            </if>
            <if test="session != null and session != ''">
                and a.session = #{session}
            </if>
            <if test="companyname != null and companyname != ''">
                and a.companyname like concat('%',#{companyname},'%')
            </if>
            <if test="relationcompanyid != null and relationcompanyid != ''">
                and a.relationcompanyid = #{relationcompanyid}
            </if>
			<if test="relationcompanyname != null and relationcompanyname != ''">
				and a.relationcompanyname like concat('%',#{relationcompanyname},'%')
			</if>
			<if test="companyid != null and companyid != ''">
				and a.companyid = #{companyid}
			</if>
            <if test="remark != null and remark != ''">
                and a.remark = #{remark}
            </if>
            <if test="agent != null and agent != ''">
                and a.agent = #{agent}
            </if>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
            <if test="isback != null and isback != ''">and a.isback = #{isback}</if>
            <if test="printstatus != null and printstatus != ''">and a.printstatus = #{printstatus}</if>
            <if test="printtype != null and printtype != ''">and a.printtype = #{printtype}</if>
            <if test="cardnature != null and cardnature != ''">and a.cardnature = #{cardnature}</if>
            <if test="makecardtime != null and makecardtime != ''">and a.makecardtime = #{makecardtime}</if>
            <if test="addtime != null and addtime != ''">
                and a.addtime = #{addtime}
            </if>
            <if test="isforensics != null and isforensics != ''">
                and a.isforensics = #{isforensics}
            </if>
            <if test="forensicstime != null and forensicstime != ''">
                and a.forensicstime = #{forensicstime}
            </if>
            <if test="certificatenumber != null and certificatenumber != ''">
                and a.certificatenumber = #{certificatenumber}
            </if>
            <if test="printnumber != null and printnumber != ''">
                and a.printnumber = #{printnumber}
            </if>
            <if test="isplastic != null and isplastic != ''">
                and a.isplastic = #{isplastic}
            </if>
            <if test="paystatus != null and paystatus != ''">
                and a.paystatus = #{paystatus}
            </if>
            <if test="audittime != null and audittime != ''">
                and a.audittime = #{audittime}
            </if>
        </where>
    </select>

    <select id="list" resultType="cn.org.chtf.card.manage.Exhibitors.model.EbsStadium">
        select
        a.id,a.session,companyname,a.companyid
        ,a.remark,a.agent,vw.uname as agentname
        ,a.status,a.addtime,vw.uname
        ,a.printstatus
        ,case printstatus
        when 0 then '未打印'
        when 1 then '打印中'
        when 2 then '已打印'
        end as printstatusname
        ,a.printtype
        ,case printtype when -1 then ''
        when 0 then '正常打印'
        when 1 then 'IC卡打印' end printtypename,a.printtime
        ,a.makecardtime,
        a.isforensics as isforensics,
        a.forensicstime as forensicstime,
        a.certificatenumber as certificatenumber,
        a.printnumber as printnumber,a.reviewremark
        ,a.isplastic
        ,ifnull(s.middleid,'') as middleid
        ,a.isback
        ,a.plastictime
        ,a.relationcompanyid
        ,a.relationcompanyname
        ,a.paystatus
		,case a.paystatus when 0 then '待缴费' when 1 then '已缴费' end paystatusname
        ,a.updatetime
		,a.audittime
        ,a.safetyresponsibilitycommit
        ,a.fitmentapplication
        ,a.effectdiagram
        ,a.constructiondiagram
        ,a.pointdiagram
        ,a.circuitdiagram
        ,a.workercertificatecopy
        ,a.equipmentqualifiedprove
        ,a.workercasualtyprove
        from ebs_stadium as a
        <if test="leixing != null and leixing != ''">
            left join vw_agentstatus as m on m.memberid=a.agent
        </if>
        left join vw_Frontend_user_integration as vw on vw.isback=a.isback and vw.uid=a.agent
        left join ebs_companyinfo as d on d.chinesename=a.companyname and a.session=d.session
        left join web_member_session as s on s.member_id=a.agent and s.id=#{session}
        <where>
            <if test="leixing != null and leixing != ''">
                and ifnull(m.makeevidence,1)=1
            </if>
            <if test="id != null and id != ''">and a.id =
                #{id}
            </if>
            <if test="session != null and session != ''">and a.session =
                #{session}
            </if>
            <if test="companyname != null and companyname != ''">
            	and a.companyname like concat('%',#{companyname},'%')
            </if>
            <if test="companyid != null and companyid != ''">
                and a.companyid = #{companyid}
            </if>
			<if test="relationcompanyname != null and relationcompanyname != ''">
				and a.relationcompanyname like concat('%',#{relationcompanyname},'%')
			</if>
			<if test="relationcompanyid != null and relationcompanyid != ''">
				and a.relationcompanyid = #{relationcompanyid}
			</if>
            <if test="remark != null and remark != ''">and a.remark =
                #{remark}
            </if>
            <if test="agent != null and agent != ''">and a.agent =
                #{agent}
            </if>
            <if test="status != null and status != ''">and a.status = #{status}</if>
            <if test="isback != null and isback != ''">and a.isback = #{isback}</if>
            <if test="printstatus != null and printstatus != ''">and a.printstatus = #{printstatus}</if>
            <if test="printtype != null and printtype != ''">and a.printtype = #{printtype}</if>
            <if test="makecardtime != null and makecardtime != ''">and a.makecardtime = #{makecardtime}</if>
            <if test="addtime != null and addtime != ''">and a.addtime =
                #{addtime}
            </if>
            <if test="isforensics != null and isforensics != ''">
                and a.isforensics = #{isforensics}
            </if>
            <if test="forensicstime != null and forensicstime != ''">
                and a.forensicstime = #{forensicstime}
            </if>
            <if test="certificatenumber != null and certificatenumber != ''">
                and a.certificatenumber = #{certificatenumber}
            </if>
            <if test="printnumber != null and printnumber != ''">
                and a.printnumber = #{printnumber}
            </if>
            <if test="isplastic != null and isplastic != ''">
                and a.isplastic = #{isplastic}
            </if>
            <if test="paystatus != null and paystatus != ''">
                and a.paystatus = #{paystatus}
            </if>
            <if test="audittime != null and audittime != ''">
                and a.audittime = #{audittime}
            </if>
        </where>
        order by a.id desc
        limit #{index}, #{size}
    </select>

    <select id="listcount" resultType="int">
        SELECT count(*)
        FROM
        ebs_stadium as a
        <if test="leixing != null and leixing != ''">
            left join vw_agentstatus as m on m.memberid=a.agent
        </if>
        <where>
            <if test="leixing != null and leixing != ''">
                and ifnull(m.makeevidence,1)=1
            </if>
            <if test="id != null and id != ''">and a.id =
                #{id}
            </if>
            <if test="session != null and session != ''">and a.session =
                #{session}
            </if>
            <if test="companyname != null and companyname != ''">
                and a.companyname like concat('%',#{companyname},'%')
            </if>
            <if test="companyid != null and companyid != ''">
                and a.companyid = #{companyid}
            </if>
            <if test="relationcompanyname != null and relationcompanyname != ''">
                and a.relationcompanyname like concat('%',#{relationcompanyname},'%')
            </if>
            <if test="relationcompanyid != null and relationcompanyid != ''">
                and a.relationcompanyid = #{relationcompanyid}
            </if>
            <if test="remark != null and remark != ''">and a.remark =
                #{remark}
            </if>
            <if test="agent != null and agent != ''">and a.agent =
                #{agent}
            </if>
            <if test="status != null and status != ''">and a.status = #{status}</if>
            <if test="isback != null and isback != ''">and a.isback = #{isback}</if>
            <if test="printstatus != null and printstatus != ''">and a.printstatus = #{printstatus}</if>
            <if test="printtype != null and printtype != ''">and a.printtype = #{printtype}</if>
            <if test="makecardtime != null and makecardtime != ''">and a.makecardtime = #{makecardtime}</if>
            <if test="addtime != null and addtime != ''">and a.addtime =
                #{addtime}
            </if>
            <if test="isforensics != null and isforensics != ''">
                and a.isforensics = #{isforensics}
            </if>
            <if test="forensicstime != null and forensicstime != ''">
                and a.forensicstime = #{forensicstime}
            </if>
            <if test="certificatenumber != null and certificatenumber != ''">
                and a.certificatenumber = #{certificatenumber}
            </if>
            <if test="printnumber != null and printnumber != ''">
                and a.printnumber = #{printnumber}
            </if>
            <if test="isplastic != null and isplastic != ''">
                and a.isplastic = #{isplastic}
            </if>
            <if test="paystatus != null and paystatus != ''">
                and a.paystatus = #{paystatus}
            </if>
            <if test="audittime != null and audittime != ''">
                and a.audittime = #{audittime}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="cn.org.chtf.card.manage.Exhibitors.model.EbsStadium" useGeneratedKeys="true"
            keyProperty="id">
        insert into ebs_stadium(
        <trim suffixOverrides=",">
            <if test="session != null">`session`,</if>
            <if test="remark != null">`remark`,</if>
            <if test="agent != null">`agent`,</if>
            <if test="status != null">`status`,</if>
            <if test="isback != null">`isback`,</if>
            <if test="printstatus != null">`printstatus`,</if>
            <if test="printtype != null">`printtype`,</if>
            <if test="makecardtime != null">`makecardtime`,</if>
            <if test="companyid != null">`companyid`,</if>
            <if test="companyname != null">`companyname`,</if>
            <if test="addtime != null">`addtime`,</if>
            <if test="isforensics != null">`isforensics`,</if>
            <if test="forensicstime != null">`forensicstime`,</if>
            <if test="certificatenumber != null">`certificatenumber`,</if>
            <if test="reviewremark != null">`reviewremark`,</if>
            <if test="printnumber != null">`printnumber`,</if>
            <if test="relationcompanyid != null">`relationcompanyid`,</if>
            <if test="relationcompanyname != null">`relationcompanyname`,</if>
            <if test="paystatus != null">`paystatus`,</if>
            <if test="audittime != null">`audittime`,</if>
			<if test="safetyresponsibilitycommit != null">`safetyresponsibilitycommit`,</if>
			<if test="fitmentapplication != null">`fitmentapplication`,</if>
			<if test="effectdiagram != null">`effectdiagram`,</if>
			<if test="constructiondiagram != null">`constructiondiagram`,</if>
			<if test="pointdiagram != null">`pointdiagram`,</if>
			<if test="circuitdiagram != null">`circuitdiagram`,</if>
			<if test="workercertificatecopy != null">`workercertificatecopy`,</if>
			<if test="equipmentqualifiedprove != null">`equipmentqualifiedprove`,</if>
			<if test="workercasualtyprove != null">`workercasualtyprove`</if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="session != null">#{session},</if>
            <if test="remark != null">#{remark},</if>
            <if test="agent != null">#{agent},</if>
            <if test="status != null">#{status},</if>
            <if test="isback != null">#{isback},</if>
            <if test="printstatus != null">#{printstatus},</if>
            <if test="printtype != null">#{printtype},</if>
            <if test="makecardtime != null">#{makecardtime},</if>
            <if test="companyid != null">#{companyid},</if>
            <if test="companyname != null">#{companyname},</if>
            <if test="addtime != null">#{addtime},</if>
            <if test="isforensics != null">#{isforensics},</if>
            <if test="forensicstime != null">#{forensicstime},</if>
            <if test="certificatenumber != null">#{certificatenumber},</if>
            <if test="reviewremark != null">#{reviewremark},</if>
            <if test="printnumber != null">#{printnumber},</if>
            <if test="relationcompanyid != null">#{relationcompanyid},</if>
            <if test="relationcompanyname != null">#{relationcompanyname},</if>
            <if test="paystatus != null">#{paystatus},</if>
            <if test="audittime != null">#{audittime},</if>
			<if test="safetyresponsibilitycommit != null">#{safetyresponsibilitycommit},</if>
			<if test="fitmentapplication != null">#{fitmentapplication},</if>
			<if test="effectdiagram != null">#{effectdiagram},</if>
			<if test="constructiondiagram != null">#{constructiondiagram},</if>
			<if test="pointdiagram != null">#{pointdiagram},</if>
			<if test="circuitdiagram != null">#{circuitdiagram},</if>
			<if test="workercertificatecopy != null">#{workercertificatecopy},</if>
			<if test="equipmentqualifiedprove != null">#{equipmentqualifiedprove},</if>
			<if test="workercasualtyprove != null">#{workercasualtyprove}</if>
        </trim>
        )
    </insert>

    <update id="update" parameterType="cn.org.chtf.card.manage.Exhibitors.model.EbsStadium">
        update ebs_stadium
        <set>
            <if test="session != null">`session` = #{session},</if>
            <if test="companyid != null">`companyid` = #{companyid},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="agent != null">`agent` = #{agent},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="isback != null">`isback` = #{isback},</if>
            <if test="printstatus != null">`printstatus` = #{printstatus},</if>
            <if test="printtype != null">`printtype` = #{printtype},</if>
            <if test="printtime != null">`printtime` = #{printtime},</if>
            <if test="makecardtime != null">`makecardtime` = #{makecardtime},</if>
            <if test="companyname != null">`companyname` = #{companyname},</if>
            <if test="addtime != null">`addtime` = #{addtime},</if>
            <if test="isforensics != null">`isforensics` = #{isforensics},</if>
            <if test="forensicstime != null">`forensicstime` = #{forensicstime},</if>
            <if test="certificatenumber != null">`certificatenumber` = #{certificatenumber},</if>
            <if test="reviewremark != null">`reviewremark` = #{reviewremark},</if>
            <if test="isplastic != null">`isplastic` = #{isplastic},</if>
            <if test="plastictime != null">`plastictime` = #{plastictime},</if>
            <if test="printnumber != null">`printnumber` = #{printnumber},</if>
            <if test="relationcompanyid != null">`relationcompanyid` = #{relationcompanyid},</if>
            <if test="relationcompanyname != null">`relationcompanyname` = #{relationcompanyname},</if>
            <if test="paystatus != null">`paystatus` = #{paystatus},</if>
            <if test="audittime != null">`audittime` = #{audittime},</if>
			<if test="safetyresponsibilitycommit != null">`safetyresponsibilitycommit` = #{safetyresponsibilitycommit},</if>
			<if test="safetyresponsibilitycommit != null">`safetyresponsibilitycommit` = #{safetyresponsibilitycommit},</if>
			<if test="safetyresponsibilitycommit != null">`safetyresponsibilitycommit` = #{safetyresponsibilitycommit},</if>
			<if test="fitmentapplication != null">`fitmentapplication` = #{fitmentapplication},</if>
			<if test="effectdiagram != null">`effectdiagram` = #{effectdiagram},</if>
			<if test="constructiondiagram != null">`constructiondiagram` = #{constructiondiagram},</if>
			<if test="pointdiagram != null">`pointdiagram` = #{pointdiagram},</if>
			<if test="circuitdiagram != null">`circuitdiagram` = #{circuitdiagram},</if>
			<if test="workercertificatecopy != null">`workercertificatecopy` = #{workercertificatecopy},</if>
			<if test="equipmentqualifiedprove != null">`equipmentqualifiedprove` = #{equipmentqualifiedprove},</if>
			<if test="workercasualtyprove != null">`workercasualtyprove` = #{workercasualtyprove}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from ebs_stadium
        where id = #{id}
    </delete>

    <delete id="deleteByMap">
    	delete from ebs_stadium
	   where agent=#{memberid} and session=#{session}
    </delete>

    <delete id="deleteByIdAndMemberId">
    	delete from ebs_stadium
	   where agent=#{memberId} and id = #{id}
    </delete>

    <delete id="delete">
        delete from ebs_stadium
        where agent=#{memberId} and id in
        <foreach collection="idList" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id,jdbcType=VARCHAR}
        </foreach>;
    </delete>

    <select id="loadCount" resultType="map">
	 	SELECT
			COUNT(DISTINCT ebs_stadium.companyname) EnterprisesNumber,
			COUNT(ebs_stadium.id) certificatesTotalNumber,
			IFNULL(SUM(CASE WHEN status = 0 THEN 1 ELSE 0 END), 0) pendingAuditNumber,
			IFNULL(SUM(CASE WHEN status = -1 THEN 1 ELSE 0 END), 0) failedAuditNumber,
			IFNULL(SUM(CASE WHEN status = 1 THEN 1 ELSE 0 END), 0) ReviewedCertificatesNumber,
			IFNULL(SUM(CASE WHEN printstatus = 2 THEN 1 ELSE 0 END), 0) Printed,
			IFNULL(SUM(CASE WHEN (status = 1 and isplastic = 1 and printstatus = 0) THEN 1 ELSE 0 END), 0) noPrinted,
			IFNULL(SUM(CASE WHEN isback = 0 THEN 1 ELSE 0 END), 0) greenChannelCertificatesNumber
		FROM ebs_stadium
		INNER JOIN cm_certificate_type ON cm_certificate_type.type = 1 AND ebs_stadium.cardtype = cm_certificate_type.id
		INNER JOIN vw_agentstatus ON vw_agentstatus.memberid = ebs_stadium.agent AND vw_agentstatus.makeevidence = 1
		WHERE ebs_stadium.session = #{session}
	 </select>
</mapper>