<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>修改</title>
		<meta content="webkit" name="renderer">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
		<link rel="stylesheet" href="/manage/css/xadmin.css">
		<link href="/manage/css/style.css?v=4.1.0" rel="stylesheet">
		<link href="/manage/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/manage/layui/css/layui.css"  media="all">
	</head>
	<body class="gray-bg">
		<div class="modal inmodal" id="friendlink-model">
			<div class="modal-content animated bounceInUp" id="vmUpdateSysExhibition">
				<div class="ibox-content">
					<fieldset class="layui-elem-field layui-field-title" style="border-top:0px">
						<form class="layui-form layui-form-pane" action="">
							<div class="layui-form-item">
								<label class="layui-form-label" for="exhibitionname"><span style='color:red'>*</span>中文名称 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">

										<input autocomplete="off" class="layui-input" id="exhibitionname" name="exhibitionname" lay-verify="required" type="text" v-model="sysExhibition.exhibitionname">

									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="exhibitionname">俄文名称 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input class="layui-input" autocomplete="off" id="russianexhibitionname" name="russianexhibitionname"
										type="text" v-model="sysExhibition.russianexhibitionname">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label" for="exhibitionname">日文名称 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input class="layui-input" autocomplete="off" id="japaneseexhibitionname" name="japaneseexhibitionname"
										type="text" v-model="sysExhibition.japaneseexhibitionname">
									</div>
								</div>
							</div><div class="layui-form-item">
								<label class="layui-form-label" for="exhibitionname">英文名称 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input class="layui-input" autocomplete="off" id="englishexhibitionname" name="englishexhibitionname"
										type="text" v-model="sysExhibition.englishexhibitionname">
									</div>
								</div>
							</div><div class="layui-form-item">
								<label class="layui-form-label" for="exhibitionname">韩文名称 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">
										<input class="layui-input" autocomplete="off" id="hangulexhibitionname" name="hangulexhibitionname"
										type="text" v-model="sysExhibition.hangulexhibitionname">
									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label" for="url"><span style='color:red'>*</span>二级域名 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block">

										<input autocomplete="off" class="layui-input" id="url" name="url" lay-verify="required" type="text" v-model="sysExhibition.url">

									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label" for="useable"> 是否可用 </label>
								<div class="layui-input-block">
									<div class="layui-input-inline layui-show-xs-block radioborder">

										<input type='radio' name='useable' value='1' title='可用'>
										<input type='radio' name='useable' value='0' title='不可用'>

									</div>
								</div>
							</div>

							<div class="layui-form-item">
								<div class="layui-input-block">
									<button class="layui-btn" lay-filter="edit" lay-submit="">
										确认修改
									</button><input id="txtuseable" type="hidden">
								</div>
							</div>
						</form>
					</fieldset>
				</div>
			</div>
		</div>
		<script charset="utf-8" src="/manage/js/jquery.min.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/layui/layui.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/js/xadmin.js" type="text/javascript"></script>
		<script charset="utf-8" src="/manage/js/vue.js" type="text/javascript"></script>
		<script src="/manage/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="/manage/js/manage/common.js"></script>
		<script charset="UTF-8" type="text/javascript">
	loadHeight();
			var editSysExhibitionId = sessionStorage.getItem("editSysExhibitionId");
			vm = new Vue({
				el : "#vmUpdateSysExhibition",
				data : {
					sysExhibition : {}
				},
				methods : {},
				created : function() {
					var _this = this;
					$.ajax({
						url : "/manage/system/sysExhibition/findById",
						data : {
							"id" : editSysExhibitionId
						},
						dataType : "json",
						type : "get",async:false,
						success : function(result) {
							if (result.code === 200) {
								_this.sysExhibition = result.data;
								$("#txtuseable").val(result.data.useable);
							} else {
								layer.alert("获取修改信息失败！");
							}
						}
					});
				}
			});

			layui.use(['form', 'layer', 'laydate'], function() {
				var form = layui.form, layer = layui.layer, laydate = layui.laydate;

				var sta = $("#txtuseable").val();
								var radio = document.getElementsByName("useable");
								var radioLength = radio.length;
								for (var i = 0; i < radioLength; i++) {
									if (sta == radio[i].value) {
										$(radio[i]).next().click();
									}
								}
				form.render('radio');
				//监听提交
				form.on('submit(edit)', function(data) {

					//组装数据
					data.field.id = editSysExhibitionId;

					//发异步，把数据提交给controller
					$.ajax({
						url : "/manage/system/sysExhibition/update",
						data : JSON.stringify(data.field),
						dataType : "json",
						contentType : "application/json",
						type : "post",
						success : function(result) {
							if (result.code === 200) {
								layer.msg("修改成功", {
									icon : 6,
									time : 500
								}, function() {
									//关闭当前frame
									xadmin.close();
									// 可以对父窗口进行刷新
									xadmin.father_reload();
								});
							} else {
								layer.alert(result.msg);
							}
						}
					});

					return false;
				});

			});
		</script>
	</body>
</html>
