<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.org.chtf.card.manage.AuditRecord.dao.LogDocumentauditMapper">

    <select id="findById" resultType="cn.org.chtf.card.manage.AuditRecord.model.LogDocumentaudit">
        select
			a.id as id,
			a.act as act,
			a.reviewer as reviewer,
			a.documentid as documentid,
			a.remark as remark,
			a.addtime as addtime,a.status
        from log_documentaudit as a
        where a.id = #{id}
    </select>

    <select id="findByMap" resultType="cn.org.chtf.card.manage.AuditRecord.model.LogDocumentaudit">
        select
			a.id as id,
			a.act as act,
			a.reviewer as reviewer,
			a.documentid as documentid,
			a.remark as remark,
			a.addtime as addtime,a.status
        from log_documentaudit as a
        <where>
			<if test="id != null and id != ''">
				and a.id = #{id}
			</if>
			<if test="act != null and act != ''">
				and a.act = #{act}
			</if>
			<if test="reviewer != null and reviewer != ''">
				and a.reviewer = #{reviewer}
			</if>
			<if test="documentid != null and documentid != ''">
				and a.documentid = #{documentid}
			</if>
			<if test="remark != null and remark != ''">
				and a.remark = #{remark}
			</if>
			<if test="addtime != null and addtime != ''">
				and a.addtime = #{addtime}
			</if>
			<if test="addtime != null and addtime != ''">
                and a.status = #{status}
            </if>
        </where>
    </select>

    <select id="list" resultType="cn.org.chtf.card.manage.AuditRecord.model.LogDocumentaudit">
        select
			a.id as id,
			a.act as act,
			a.reviewer as reviewer,
			a.documentid as documentid,
			a.remark as remark,
			a.addtime as addtime,a.status
        from log_documentaudit as a
        <where>
            <if test="id != null and id != ''">
                and a.id = #{id}
            </if>
            <if test="act != null and act != ''">
                and a.act = #{act}
            </if>
            <if test="reviewer != null and reviewer != ''">
                and a.reviewer = #{reviewer}
            </if>
            <if test="documentid != null and documentid != ''">
                and a.documentid = #{documentid}
            </if>
            <if test="remark != null and remark != ''">
                and a.remark = #{remark}
            </if>
            <if test="addtime != null and addtime != ''">
                and a.addtime = #{addtime}
            </if>
            <if test="addtime != null and addtime != ''">
                and a.status = #{status}
            </if>
        </where>
        order by a.id desc	
		limit #{index}, #{size}
    </select>
    
    <select id="listcount" resultType="int">
		SELECT count(*) FROM log_documentaudit a
		<where>
            <if test="id != null and id != ''">
                and a.id = #{id}
            </if>
            <if test="act != null and act != ''">
                and a.act = #{act}
            </if>
            <if test="reviewer != null and reviewer != ''">
                and a.reviewer = #{reviewer}
            </if>
            <if test="documentid != null and documentid != ''">
                and a.documentid = #{documentid}
            </if>
            <if test="remark != null and remark != ''">
                and a.remark = #{remark}
            </if>
            <if test="addtime != null and addtime != ''">
                and a.addtime = #{addtime}
            </if>
            <if test="addtime != null and addtime != ''">
                and a.status = #{status}
            </if>
        </where>
	</select>

    <insert id="save" parameterType="cn.org.chtf.card.manage.AuditRecord.model.LogDocumentaudit" useGeneratedKeys="true" keyProperty="id">
        insert into log_documentaudit(
        	<trim suffixOverrides=",">
                <if test="act != null">`act`,</if>
                <if test="reviewer != null">`reviewer`,</if>
                <if test="documentid != null">`documentid`,</if>
                <if test="remark != null">`remark`,</if>
                <if test="status != null">`status`</if>
			</trim>
		) values (
        	<trim suffixOverrides=",">
                <if test="act != null">#{act},</if>
                <if test="reviewer != null">#{reviewer},</if>
                <if test="documentid != null">#{documentid},</if>
                <if test="remark != null">#{remark},</if>
                <if test="status != null">#{status}</if>
			</trim>
		)
    </insert>

    <update id="update" parameterType="cn.org.chtf.card.manage.AuditRecord.model.LogDocumentaudit">
        update log_documentaudit
        <set>
			<if test="act != null">`act` = #{act},</if>
			<if test="reviewer != null">`reviewer` = #{reviewer},</if>
			<if test="documentid != null">`documentid` = #{documentid},</if>
			<if test="remark != null">`remark` = #{remark},</if>
			<if test="status != null">`status` = #{status},</if>
			<if test="addtime != null">`addtime` = #{addtime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from log_documentaudit where id = #{id}
    </delete>
    
    
    
</mapper>