<div class="mem-left">
		<div class="mem-left-header">
			<img src="${userinfo.headimgurl}" alt="" class="pic">
			<h3>${userinfo.nickname}</h3>
		</div>
		<div class="mem-left-nav">
			<ul>
				<li <#if pageName=='member'>class="active"</#if>>
					<a href="member.html">身份认证</a>
				</li>
				<li <#if pageName=='changepass'>class="active"</#if>>
					<a href="changepass.html">修改密码</a>
				</li>
				<li <#if pageName=='sccompany'>class="active"</#if>>
					<a href="sccompany-1.html">收藏企业</a>
				</li>
				<li <#if pageName=='scproduct'>class="active"</#if>>
					<a href="scproduct-1.html">收藏产品</a>
				</li>
				<li <#if pageName=='onlineactivity'>class="active"</#if>>
					<a target="_blank" href="webim/index.html?id=t">即时消息</a>
				</li>
				<li <#if pageName=='message'>class="active"</#if>>
					<a href="message-1.html">消息</a>
				</li>
				<li <#if pageName=='inquiry'>class="active"</#if>>
					<a href="inquiry-1.html">我的询盘</a>
				</li>
				<!--<li <#if pageName=='applymeeting'>class="active"</#if>>
					<a href="applymeeting-1.html">申请会议</a>
				</li>-->
				<li <#if pageName=='attendmeeting'>class="active"</#if>>
					<a href="attendmeeting-1.html">参加会议</a>
				</li>
			</ul>
		</div>
	</div>