<ul>
			<li <#if pageName=='index'>class="active"</#if>>				
				<a href="index.html">首页</a>
			</li>
			<li <#if pageName=='onlineactivity'>class="active"</#if>>
				<a href="onlineactivity.html">在线活动</a>								
			</li>
			<li <#if pageName=='onlinepavilion'>class="active"</#if>>
				<a href="onlinepavilion.html">网上展馆</a>
			</li>
			<li <#if pageName=='spdocking'>class="active"</#if>>
				<a href="spdocking-0--1.html">供采对接</a>
			</li>
			<li <#if pageName=='contact'>class="active"</#if>>
				<a href="contact.html">联系我们</a>
			</li>	
		</ul>
		
		<div class="menu-rlink">
			<#if dl==0>
				<a href="javascript:;" class="login-a">登录</a>
				<span>|</span>
				<a href="javascript:;" class="reg-a">注册</a>
			<#else>
			 	<a href="member.html" >进入&nbsp;个人中心</a>
			 	<a href="javascript:void(0)" onclick="out()">退出</a>
			</#if>
		</div>
		